default_stages:
  - pre-commit

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [ python ]
        files: \.py$
        stages:
          - pre-commit
          - pre-push

      - id: ruff
        name: ruff lint
        entry: uv run ruff check --fix
        language: system
        files: \.py$
        stages:
          - pre-commit
          - pre-push

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
